In [2]:
import pandas as pd
import numpy as np

In [4]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a': 10, 'b':20, 'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
#You can choose your index labels

In [6]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
ser1 = pd.Series([1,2,3,4],["Hunter", "Rogue", "Shaman", "Paladin"])

In [10]:
ser1

Hunter     1
Rogue      2
Shaman     3
Paladin    4
dtype: int64

In [11]:
ser2 = pd.Series([4,9,3,5],["Hunter", "Rogue", "Priest", "Paladin"])

In [12]:
ser2

Hunter     4
Rogue      9
Priest     3
Paladin    5
dtype: int64

In [14]:
ser2['Hunter']

4

# Dataframes

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [9]:
df = pd.DataFrame(randn(4,4),['A','B','C','D'],['X','W','Y','Z'])
df

          X         W         Y         Z
A  0.190794  1.978757  2.605967  0.683509
B  0.302665  1.693723 -1.706086 -1.159119
C -0.134841  0.390528  0.166905  0.184502
D  0.807706  0.072960  0.638787  0.329646

In [14]:
df[['Z','W']] # note that this is a SERIES
# YOU NEED TO PASS IN A LIST (NOTE DOUBLE BRACKETS)

          Z         W
A  0.683509  1.978757
B -1.159119  1.693723
C  0.184502  0.390528
D  0.329646  0.072960

In [15]:
# ADDING COLUMN
df['SUM OF Y Z'] = df['Y'] + df['Z']

In [16]:
df

          X         W         Y         Z  SUM OF Y Z
A  0.190794  1.978757  2.605967  0.683509    3.289476
B  0.302665  1.693723 -1.706086 -1.159119   -2.865205
C -0.134841  0.390528  0.166905  0.184502    0.351406
D  0.807706  0.072960  0.638787  0.329646    0.968433

In [17]:
# REMOVING COLUMNS
df.drop('X', axis=1,inplace=True)
# YOU NEED TO SAY INPLACE is TRUE BECCASUE

In [18]:
df

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476
B  1.693723 -1.706086 -1.159119   -2.865205
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433

In [24]:
# get size
df.shape

(4, 4)

# SELECTING AND GETTING

In [20]:
df.loc['B']

W             1.693723
Y            -1.706086
Z            -1.159119
SUM OF Y Z   -2.865205
Name: B, dtype: float64

In [22]:
df.iloc[1]

W             1.693723
Y            -1.706086
Z            -1.159119
SUM OF Y Z   -2.865205
Name: B, dtype: float64

In [27]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  1.978757  2.605967
B  1.693723 -1.706086

# CONDITIONALS

In [26]:
df[df>0]

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476
B  1.693723       NaN       NaN         NaN
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433

In [28]:
df[df['W']>0]

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476
B  1.693723 -1.706086 -1.159119   -2.865205
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433

In [30]:
df[df['W']>0]['Y'] # so this means getting all values of Y which Y is greater than 0

A    2.605967
B   -1.706086
C    0.166905
D    0.638787
Name: Y, dtype: float64

In [32]:
df[(df['W'] > 0) & (df['Y'] > 1)]

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476

In [35]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
heir_index = list(zip(outside, inside))
heir_index = pd.MultiIndex.from_tuples(heir_index)

In [50]:
df1 = pd.DataFrame(randn(6,2), heir_index,['A','B'])

In [51]:
df1 # Look carefully at how this has a multi-index.

             A         B
G1 1 -0.925874  1.862864
   2 -1.133817  0.610478
   3  0.386030  2.084019
G2 1 -0.376519  0.230336
   2  0.681209  1.035125
   3 -0.031160  1.939932

In [52]:
df1.loc['G1']

          A         B
1 -0.925874  1.862864
2 -1.133817  0.610478
3  0.386030  2.084019

In [54]:
df1.loc['G2'].loc[2]['B']

1.0351250747739213

In [56]:
df1.xs('G1')

          A         B
1 -0.925874  1.862864
2 -1.133817  0.610478
3  0.386030  2.084019

# NA STUFF

In [57]:
df1.fillna(2) # This fills all NA spots with a value

             A         B
G1 1 -0.925874  1.862864
   2 -1.133817  0.610478
   3  0.386030  2.084019
G2 1 -0.376519  0.230336
   2  0.681209  1.035125
   3 -0.031160  1.939932

In [59]:
# df.fillna(value=df['A'].mean()) # this is useful to fill the mean of the table

# Group BY
This allows you to group up data

In [60]:
df

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476
B  1.693723 -1.706086 -1.159119   -2.865205
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433

In [64]:
df.groupby('W').max()

                 Y         Z  SUM OF Y Z
W
0.072960  0.638787  0.329646    0.968433
0.390528  0.166905  0.184502    0.351406
1.693723 -1.706086 -1.159119   -2.865205
1.978757  2.605967  0.683509    3.289476

In [68]:
# The main point is you can grup the totals

In [70]:
df[df['Y'] > 2] # Return the row which Y is greater than 2

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476

# APPLY

In [71]:
def times2(x): 
    return 2*x
df['Y'].apply(times2)

A    5.211935
B   -3.412172
C    0.333809
D    1.277574
Name: Y, dtype: float64

In [72]:
df # note it gives you a series but doesnt apply it PERMANNET unnless you allocate it

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476
B  1.693723 -1.706086 -1.159119   -2.865205
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433

In [76]:
df.sort_values("Y")

          W         Y         Z  SUM OF Y Z
B  1.693723 -1.706086 -1.159119   -2.865205
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433
A  1.978757  2.605967  0.683509    3.289476

In [75]:
df

          W         Y         Z  SUM OF Y Z
A  1.978757  2.605967  0.683509    3.289476
B  1.693723 -1.706086 -1.159119   -2.865205
C  0.390528  0.166905  0.184502    0.351406
D  0.072960  0.638787  0.329646    0.968433

# Notes on importing and output

In [78]:
import pandas as pd

In [82]:
pd.read_excel('Excel_Sample.xlsx')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15